<div class="container">
    <div class="page-header">
        <h1>Articles</h1>
    </div>

    <ul class="list-group">
        <li ng-repeat="(id, article) in articles | limitTo : totalDisplayed" class="list-group-item">
            <p>
                <a href="#/{{id}}">{{article.title}}</a>
                <span class="badge" ng-repeat="topic in article.top_topics | limitTo : 5"> {{topic}}</span>
            </p>
        </li>
        <button class="btn" ng-click="loadMore()">Load more</button>
    </ul>

</div>
